
<div class="card" style="width: 18rem;" id="<%= dom_id post %>">
  <%= image_tag ("placeholder.jpeg"), class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.description %></p>
    <%= link_to "Show this post", post %>
  </div>
</div>
